* {
    background-color:lightgreen;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.div2{
  text-align:left;
  color:blue;
}

.table,td,th
{
border:2px solid red;
border-collapse:collapse;
}
.th
{

}
.td{

}
.div1
{
  text-align:center;
  background-color:rgb(255, 87, 51);
  color:red;
  padding:20px;
  font-size:15px;
}
.orderedlist1,.unorderedlist1
{
  text-align: center;
}
